<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title> Login </title>
    <link rel="stylesheet" href="/ForgetPasswordPage.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div class="center">
    <div class="container">
        <div class="text">CHANGE PASSWORD</div>
        <form  id="loginForm" th:action="@{/users/changepassword/{id}(id=${userpas.getId()})} " method="post" th:object="${userpas}">
            <div class="data">
                <label>New Password</label>
                <input type="password" th:field="*{password}" id="pas1">
            </div>
            <div class="data">
                <label>Password (Confirm)</label>
                <input type="password" th:field="*{checkPassword}" id="pas2">
                <div style="color: red;font-size: 10px; display:none" id="message" >
                    Passwords aren't match
                </div>
                <div th:if="${param.check_dublicate_password}">
                    <div>
                        <h8>Check confirm password</h8>
                    </div>
                </div>
            </div>
            <div class="btn">
                <div class="inner"></div>
                <button type="submit">Change Password</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
<script>
    const form = document.getElementById('registerForm');
    form.addEventListener('submit', checkpassword);
    function checkpassword(e) {
        var pas1 = document.getElementById("pas1");
        var pas2 = document.getElementById("pas2");
        document.getElementById("message").style.display ='none'
        if (pas1.value !== pas2.value) {
            e.preventDefault();
            document.getElementById("message").style.display ='block'
        }
    }
</script>
