<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title> Login </title>
    <link rel="stylesheet" href="/MailPageChangePassword.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div class="center">
    <div class="container">
        <div class="text">Email Send</div>
        <form  id="loginForm"  th:action="@{/users/checkemail} " th:method="get" th:object="${userDto}">
            <div class="data">
                <label>Email</label>
                <input type="text" th:field="*{email}">

            </div>
            <div th:if="${param.success}" style="color:Green;font-size: 12px">Check your email</div>
            <div th:if="${param.email_not_found}" style="color:Red;font-size: 12px">This Email not found in system </div>
            <div class="btn">
                <div class="inner"></div>
                <button type="submit">Send Email</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
