<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="http://localhost:8083/register.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div class="center">
    <div class="container">
        <div class="text">Register SAGA</div>
        <div th:if="${param.success}">
            <script>
                    alert("You have successfully registered");
            </script>
        </div>
        <div th:if="${param.existed}">
            <script>
                alert("You have already registered");
            </script>
        </div>
        <form th:action="@{/users/register} " method="post" th:object="${userDto}">
            <div class="data">
                <label>Firstname</label>
                <input type="text"  th:field="*{userDetails.firstName}">
                <div style="color: red;font-size: 10px" th:if="${#fields.hasErrors('userDetails.firstName')}" th:errors="*{userDetails.firstName}">Error</div>
            </div>
            <div class="data">
                <label>Lastname</label>
                <input type="text"  th:field="*{userDetails.lastName}">
                <div style="color: red ;font-size: 10px" th:if="${#fields.hasErrors('userDetails.lastName')}" th:errors="*{userDetails.lastName}">Error</div>
            </div>
            <div class="data">
                <label>Age</label>
                <input type="text"  th:field="*{userDetails.age}">
                <div style="color: red;font-size: 10px" th:if="${#fields.hasErrors('userDetails.age')}" th:errors="*{userDetails.age}">Error</div>
            </div>
            <div class="data">
                <label>Phone</label>
                <input type="text"  th:field="*{userDetails.phoneNumber}">
                <div style="color: red;font-size: 10px" th:if="${#fields.hasErrors('userDetails.phoneNumber')}" th:errors="*{userDetails.phoneNumber}">Error</div>
            </div>
            <div class="data">
                <label>Username</label>
                <input type="text"  th:field="*{username}">
            </div>
            <div class="data">
                <label>Email</label>
                <input type="text"  th:field="*{email}">
                <div style="color: red;font-size: 10px" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</div>
            </div>
            <div class="data">
                <label>Password</label>
                <input type="password" th:field="*{password}">
                <div style="color: red;font-size: 10px" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</div>
            </div>
            <div class="data">
                <label>Password (Confirm)</label>
<!--                <script>-->
<!--                    function checkpassword(){-->
<!--                        var pas1=document.getElementById("pas1");-->
<!--                        var pas2=document.getElementById("pas2");-->
<!--                        if(pas1!=pas2){document.getElementById("message").innerHTML="password not empty"}-->
<!--                    }-->
<!--                </script>-->
                <input type="password"  th:field="*{checkPassword}">
            </div>
            <div th:if="${param.check_dublicate_password}">
                <div><h8>Check confirm password</h8></div>
            </div>
            <div class="btn">
                <div class="inner"></div>
                <button type="submit">register</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
